{
	auto_https off
	order cgi before respond
}

http://git.himbeerserver.de {
	handle_path /cgit/* {
		root * /usr/share/webapps/cgit
		file_server
	}

	handle {
		cgi * /usr/share/webapps/cgit/cgit.cgi
	}
}
